<launch>


  <include file="$(find gp7_visualization)/launch/control_gazebo.launch">
  </include>

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find gp27_robot_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find gp27_robot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>


</launch>
 