<launch>

<!-- Opens gazebo -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
</include>

<!-- URDF -> Param Server -->
<param name="robot_description" textfile="$(find gp7_visualization)/urdf/gp7_robot.urdf" />

<!-- Spawner -->
<node
 name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
 args="-urdf -param robot_description -model gp7_robot -x 0 -y 0 -z 0"
 respawn="false" output="screen" />


 <!-- Load controller type -> Param Server -->
 <rosparam 
    file="$(find gp7_visualization)/config/joint_controllers.yaml" 
    command="load" >
 </rosparam>

 <!-- Spawn the controller type  -->
<node 
 name="controller_spawner" 
 pkg="controller_manager"
 ns="/gp7_robot"
 type="spawner"
 args="
    joint_state_controller
    arm_controller
 ">
 </node>


</launch>